<footer>
   <div class="footer">
      <div class="f-socials">
         <i class="fa-brands fa-instagram"></i>
         <i class="fa-brands fa-facebook-f"></i>
         <i class="fa-brands fa-twitter"></i>
         <i class="fa-brands fa-linkedin-in"></i>
         <i class="fa-brands fa-github"></i>
      </div>
      <div class="f-info">&copy; WanderLust Private Limited</div>
      <div class="f-links">
         <a href="/privacy">Privacy</a>
         <a href="/terms">Terms</a>
      </div>
   </div>
</footer>